@import "font-awesome.scss";
html,body{
  margin: 0px;
  background-color: #FAFAFA;
  height: 100%;
}

body.col-xs-12{
  padding: 0px;
}


.bttn{
  border: 0px;
  color: #DB4C3F;
  background-color:  #DB4C3F;
  &:focus{
    outline: none;
  }
}

/* Nav-bar along with nav-links style when screen size reduced*/
.nav-bar{
  background-color: #DB4C3F;
  height: 45px;
  padding: 0px;
  overflow: hidden;
}

.index-toggle{
  display: none;
  .index-toggle-links{
    color: #FFFFFF;
    background-color: #DB4C3F;
    font-size: 150%;
    padding-top: 12px;
    border-radius: 0px;
    width: 120%;
  }
}

.index-toggle-links-toggle-bars{
  background-color: #DB4C3F;
  color: #FFF;
}

/* About left-index(inbox, today, next7days) */
.left-index{
  top: 45px;
  padding-right: 0px;
  ul{
    padding-left: 40%;
    padding-top: 10px;
    li{
      height: 50px;
      list-style: none;
      padding-left: 10px;
      padding-top: 10px;
      .left-index-icons{
        font-weight: 100;
        font-size: 220%;
      }
      h5{
        display: inline;
        padding-left: 5px;
        font-weight: bold;
      }
    }
  }
}

.left-index-mobile-property{
  padding-left: 25%;
}

.left-index-toggle{
  width: 300px;
  z-index: 2;
  position: absolute;
  background-color: #FAFAFA;
}

.left-index-toggle-bars{
  color: #FFF;
  background-color: #DB4C3F;
}

.dynamic-numbers{
  display: inline;
  padding-left: 12px;
}

.background-color-selected-view{
  background-color: #FFF;
}

.background-color-not-selected-view{
  background-color: #FAFAFA;
}

/* About main body */

.main-body,
.left-index{
  height: 93.5%;
}

.main-body{
  padding-bottom: 10px;
  background-color: #FFF;
  overflow: auto;
  &::-webkit-scrollbar{
    width: 0px;
    background: transparent;
  }
}

.small-main-body{
  width: 100%;
}

.page-content{
  display: none;
}
/*  About task form */
.add-task-form{
  display: none;
  margin-bottom: 15px;
}

.date-info-styling-tomorrow{
  text-decoration: underline;
  text-decoration-color:#166CEC;
}

.date-info-styling-next7days{
  text-decoration: underline;
  text-decoration-color:#FFB504;
}

.task-info{
  width: 77%;
  padding-right: 0px;
  &:focus{
    outline: none;
  }
}
.task-date{
  width: 20%;
  padding-left: 0px;
  margin-left: -5px;
  &:focus{
    outline: none;
  }
}
.submit-task,
.cancel-task,{
  margin-top: 5px;
  border: none;
  width: 90px;
  height: 36px;
  &:focus{
    outline: none;
  }
}
.submit-task,{
  background-color: #DB4C3F;
  color: #fff;
  border: none;
}
.cancel-task{
  margin-left: 5px;
  border: none;
  background-color: #fff;
}

/* All tasks are displayed in table styling for that */

table{
  width:100%;
  tr{
    width: 100%;
    padding: 5px;
    .column1{
      width: 8%;
      button{
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 2px solid #CACACA;
        &:focus{
          outline: none;
        }
      }
    }
    .column2{
      width: 75%;
    }
    .column3{
      width: 17%;
      text-align: right;
    }
    td{
      padding: 7px 0px 7px 7px;
    }
    .column2,
    .column3{
      padding-left: 2px;
    }
  }
  margin-bottom: 15px;
}

.tasks-by-day li{
  &:hover{
    cursor: pointer;
    background-color: #fff;
    font-weight: bold;
  }
}

.task-info-border-styling{
  border-bottom: 1.5px solid #F0F0F0;
}
// Today's tasks
.over-due-today h4
{
  color: #DD4B39;
  border-bottom: 1.5px solid #CACACA;
  font-weight: 400;
  padding-bottom: 6px;
  font-size: 16px;
}

.today{
  margin-top: 15px;
  h4{
    border-bottom: 1.5px solid #CACACA;
    font-weight: 600;
    padding-bottom: 6px;
    font-size: 16px;
  }
}

/* Heading for each of the view */
.main-title{
  padding: 40px 0px 15px 0px;
  font-size: 28px;
  font-weight: 300;
}

.add-task
,.add-task-next7days{
  margin-top: 40px;
  color: #DB4C3F;
  &:hover,
  &:focus{
    color: #DB4C3F;
  }
}

.weekday-names{
  clear: both;
  display: block;
  width: 300px;
  padding-right: 0px;
  margin-bottom: 0px;
  margin-top: 15px;
}

.date-in-small{
  display: inline;
  font-weight: 300;
  font-size: 14px;
}

